.form-bg-container {
  min-height: 100vh;
  background: linear-gradient(#3f8ed7, #ca4e96);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}

.form-container {
  background-color: #ffffff;
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-container label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #444;
}

.input-container input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.input-container input:focus {
  border-color: #6a11cb;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(#3f8ed7, #8655c6);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  
  .form-title{
    font-size: 22px;
  }
  .form-container {
  background-color: #ffffff;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

}
