
.dashboard-bg {
  min-height: 100vh;
  background: linear-gradient(#3f8ed7, #ca4e96);
  baground-size:cover;
}


.dashboard-title {
  color: #ffffff;
  font-weight: 700;
}


.btn-gradient {
  background: linear-gradient(135deg, #ff7a18, #ffb347);
  color: white;
  border: none;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 30px;
}

.btn-gradient:hover {
  opacity: 0.9;
  color: white;
}


.glass-card {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glass-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
}


.card-header-custom {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  margin-bottom: 15px;
}

.profile-icon {
  font-size: 55px;
  color: #ffd369;
}

.username {
  margin: 0;
  font-weight: 600;
}


.card-body-custom p {
  color: #f1f1f1;
  font-size: 14px;
  margin-bottom: 6px;
}


.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}


@media (max-width: 768px) {
  .dashboard-bg {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    
  }
  .dashboard-title {
    font-size: 22px;
  }
}
