.form-bg {
  min-height: 100vh;
  background: linear-gradient(#3f8ed7, #ca4e96);
  display: flex;
  align-items: center;
}


.glass-form-card {
  backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}


.btn-gradient {
  background: linear-gradient(135deg, #ff7a18, #ffb347);
  border: none;
  color: white;
  font-weight: 600;
  padding: 12px;
  border-radius: 30px;
}

.btn-gradient:hover {
  opacity: 0.9;
}


.form-control {
  border-radius: 10px;
  padding: 10px;
}


@media (max-width: 768px) {
  
  .form-title{
    font-size: 22px;
  }
  .form-container {
  background-color: #ffffff;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

}
